* {
    font-family: 'Raleway', sans-serif;
    margin : 0;
}

body {
    font-family: 'Raleway', sans-serif;
    margin:auto;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 17px;
    font-weight: 700;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.icon-blue {
    color: #0065FC;
}

.icon-black {
    color: #000000;
}

.icon-grey {
    color: #f5f5f5;
}


/* barre de navigation - FlexBox*/
.logo {
    height: 30px;
}

.nav_barre {
    width: 90%;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

ul {
    width: 260px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type :none;
    padding: 0;
}

li :hover {
    color : #0065FC;
    padding-top: 28px;
    border-top :2px #0065FC solid;
}

a {
    text-decoration: none;
    color: black;
}

/* SECTION 1 */
.section-1 {
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

/* Formulaire de recherche */
form {
    width: 377px;
    display: flex;
    border-radius: 15px;
    border: 2px solid #F2F2F2;
}

.border {
    width: 50%;
    padding: 17px;
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.fa-location-dot {
    background-color: #F2F2F2;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
}

.cta {
    background-color: #0065FC;
    font-weight: 700;
    font-size: 18px;
    color: white;
    border: none;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    padding: 16px;
    width: 38%;
}


/*Filtres de recherche*/

.mes-filtres button {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    background: white;
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    color:black;
    text-decoration: none;
    outline: none;
    border: 2px solid #dad9d9;
}

.mes-filtres button:hover {
    background-color: #DEEBFF;
}

.mes-filtres {
    display: flex;
    flex-direction: row; 
    gap: 6px;
    align-items: center;
    font-weight: 800;
}

.mes-filtres i {
    padding-right: 12px;
}

/*Point information*/
.point-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 40px;
}

.point-info p {
    padding-left: 15px;
}

/* SECTION 2 - HEBERGEMENTS MARSEILLE */ 

article {
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 20px;
}

article h1, article h2 {
    margin: 30px;
}

.card-photos-hotels a {
    width: 30%;
    height: 207px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(144, 144, 142, 0.4);
    font-family: 'Raleway', sans-serif;
}

.card-photos-hotels img {
    object-fit: cover;
    margin: auto;
    width: 96.5%;
    height: 118px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-photos-hotels {
    width: 96%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: auto;
    justify-content: space-around;
    flex-wrap:wrap;
}

.card-photos-hotels p {
    font-size: 14px;
    font-weight: 400;
}

.text-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 8px;
    padding-left: 8px;
    gap: 6px;
}

/* SECTION 2 - DROITE */

aside {
    width: 31%;
    background-color:#F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-droite {
    width: 95%;
    height: 492px;
    display: flex; 
    flex-direction: column; 
}

.droite-card {
    width: 90%;
    height: 144px;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(144, 144, 142, 0.4);
    font-family: 'Raleway', sans-serif;
    margin: auto;
}

.droite-card img {
    object-fit: cover;
    width: 30%;
    height: 93%;
    padding-top: 5px;
    padding-left: 5px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.texte-card-droite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    justify-content: space-between;
    margin: 8px;
}

.texte-card-droite p {
    padding-top: 6px;
    font-size: 14px;
}

.title-right {
    width: 83%;
    height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
}

/* FLEXBOX SECTION 2 DES DEUX PARTIES */

.section-2 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 30px;
}

/* SECTION 3 - ACTIVITES MARSEILLE */

.section-3 {
    width: 88%;
    height: 520px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: flex-start;
    justify-content: space-around;
    padding: 50px;
}

.liens-activites {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    flex-wrap: wrap;
    margin: auto;
}

.liens-activites img {
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.photos-titres-section3 {
    display:flex;
    flex-wrap: wrap;
    width: 24%;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(144, 144, 142, 0.4);
    border-radius: 20px;
}

.photos-titres-section3 p, .photos-titres-section3 h4 {
    padding-left: 20px;
}

/*Footer*/

footer {
    width: 90%;
    height: 163px;
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin:auto;
}

.div-du-footer {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div-du-footer h2, .div-du-footer p {
    padding-bottom: 15px;
}

/* RESPONSIVE LARGE DESKTOP */

@media all and (min-width: 1440px){
    body {
        width: 1440px;
    }

}

/* RESPONSIVE DESKTOP */ 

@media all and (min-width: 768px) {
    .cta-magnifying-glass {
        display: none;
    }
}

/* RESPONSIVE TABLETTE */

@media all and (min-width: 768px) and (max-width: 1024px) {    
    h3 {
        font-size: 16px;
    }

    .mes-filtres {
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }

    .section-2 {
        flex-direction: column;
        gap: 50px;
    }

    .card-droite {
        flex-direction: row;
    }

    article {
        width: 100%;
    }

    .title-right {
        width: 93%;
    }

    aside {
        width: 100%;
        height: 252px;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 10px;
    }

    .card-droite {
        width: 100%;
        justify-content: space-around;
        margin: auto;
        flex-wrap: wrap;
    }

    .droite-card {
        width: 30%;
        height: 146px;
    }

    .droite-card img {
        width: 91px;
    }

    .section-3 {
        padding-top: 50px;
        width: 90%;
        height: 390px;
    }

    .photos-titres-section3 {
        width: 23%;
        height: 270px;
    }

    .liens-activites {
        width: 100%;
    }

    .liens-activites img {
        width: 100%;
        height: 75%;
    }
}


/* RESPONSIVE MOBILE */

@media all and (max-width: 768px) {    
    h3 {
        font-size: 14px;
    }

    header {
        width: 100%;
    }

    .nav_barre {
        height: 115px;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .nav_barre div {
        padding: 30px;
    }

    ul {
        width:100%;
        height: 36px;
        align-items: flex-start;
    }

    li {
        width: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo {
        height: 19px;
    }

    li :hover {
        width: 100%;
        color: #0065FC;
        border-bottom: 2px #0065FC solid;
        border-top: none;
        display: inline-flex;
        justify-content: space-around;
        padding-bottom: 13px; 
        padding-top: inherit;
    }

    form {
        width: 100%;
    }

    .border {
        width: inherit;
    }
    
    .cta {
        display: none;
    }

    .cta-magnifying-glass {
        width: 52px;
        height: 52px;
        color: #ffffff;
        background-color: #0065FC;
        border-radius: 13px;
        border: none;
    }

    .cta-magnifying-glass input {
        display: none;
    }

    .fa-magnifying-glass {
        color: #ffffff;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 17px;
        padding-right: 20px;
    }

    .mes-filtres {
        flex-direction: column;
        align-items: flex-start;
        height: 161px;
        width: 100%;
        justify-content: space-around;
    }

    .filtre-flexbox{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    button {
        width: 49%;
    }

    .section-1 {
        padding-top: 40px;
    }

    .section-2 {
        width: 100%;
        flex-direction: column-reverse;
        gap: 15px;
    }

    aside {
        width: 100%;
        height: 569px;
        border-radius: inherit;
    }

    article {
        width: 100%;
        background-color: white;
    }

    .title-right {
        width: 90%;
    }

    .card-droite {
        width: 100%;
        margin: auto;
        flex-direction: column;
    }

    .droite-card {
        width: 90%;
    }

    .card-photos-hotels {
        display: flex;
        width: 92%;
        flex-direction: column;
    }

    .card-photos-hotels a {
        width: 100%;
        height: 207px;
    }

    .section-3 {
        padding: inherit;
        padding-top: 20px;
        width: 90%;
        height: 975px;
    }

    .liens-activites {
        width: 98%;
        height: 90%;
        flex-direction: column;
        justify-content: space-around;
        margin: inherit;
    }

    .photos-titres-section3 {
        width: 100%; 
        height: 200px;
    }

    .liens-activites img {
        height: 75%;
    }

    footer {
        width: 100%;
        height: inherit;
        flex-direction: column;
        padding-left: 25px;
    }

    .div-du-footer h2, .div-du-footer p {
        padding-bottom: inherit;
    }

    .card1 {
        order: 1;
    }

    .card2 {
        order: 6;
    }

    .card3 {
        order: 3;
    }
    
    .card4 {
        order: 4;
    }

    .card5 {
        order: 2;
    }
    
    .card6 {
        order: 5;
    }
}